
@{
    ViewBag.Title = "AddHakem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 class="text-center alert-info">Hakem Ekleme Sayfası</h1>

<div>
    <form class="form-group" method="post">
        <input type="text" placeholder="Hakem Adı-Soyadı" name="HakemAdiSoyadi" class="form-control" />
        <br />
  
        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
</div>


