
@{
    ViewBag.Title = "FiksturEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<h1 class="text-center alert-info">Fikstür Ekle</h1>

<form class="form-group" method="post">
    <input type="text" placeholder="Ev Sahibi Takım" name="Evsahibi" class="form-control" />
    <br />
    <input type="text" placeholder="Deplasman Takım" name="Deplasman" class="form-control" />
    <br />
    </form>
